<h2 style='color:green'>First step: Preparing the datafile</h2>

**Preparing the database for future analysis and exploration**

In [1]:
## Essential packages

import os
import sys
import pandas as pd

sys.path.insert(0, '../')
from src.utils import check_columns, rm_duplicates

### 1. Loading files

In [2]:
filepath = '../data/'
listfiles = os.listdir(filepath)
print(listfiles)

['books_data.csv', 'Books_rating.csv']

In [3]:
%%bash
echo 'File size:'
ls -lh ../data/

File size:
total 2.9G
-rwxrwxrwx 1 bfaria bfaria 2.7G Aug 26 09:32 Books_rating.csv
-rwxrwxrwx 1 bfaria bfaria 173M Aug 26 09:24 books_data.csv

In [4]:
filename1 = os.path.join(filepath, listfiles[0])
filename2 = os.path.join(filepath, listfiles[1])

In [5]:
%%time

df1 = pd.read_csv(filename1)

CPU times: user 2.29 s, sys: 143 ms, total: 2.44 s
Wall time: 3.35 s

In [6]:
%%time

df2 = pd.read_csv(filename2)

CPU times: user 24.3 s, sys: 1.84 s, total: 26.1 s
Wall time: 38.4 s

### 2. Preparing files

- Checking, Merging & Treating

##### a. Checking

In [7]:
## Features of each book

df1.head(3)

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN

In [8]:
check_columns(df1, df1.columns)

        Variavel     Tipo  Qtde_unicos  Qtde_NaN  %_NaN
0          Title   object       212403         1    0.0
1    description   object       133226     68442   32.2
2        authors   object       127278     31413   14.8
3          image   object       149387     52075   24.5
4    previewLink   object       188099     23836   11.2
5      publisher   object        16016     75886   35.7
6  publishedDate   object        11582     25305   11.9
7       infoLink   object       184506     23836   11.2
8     categories   object        10883     41199   19.4
9   ratingsCount  float64          478    162652   76.6

In [9]:
## Check/Remove duplicates

df1 = rm_duplicates(df1, verbose=True)

Without duplicated lines!

In [10]:
## Checking quantity of different titles

print(f'df shape: {df1.shape} <=> total title uniques: {df1.Title.nunique()}')

df shape: (212404, 10) <=> total title uniques: 212403

In [11]:
## Features of each evaluation

df2.head(3)

,Id,Title,Price,User_id,profileName,score,time,summary,text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."

In [12]:
check_columns(df2, df2.columns)

      Variavel     Tipo  Qtde_unicos  Qtde_NaN  %_NaN
0           Id   object       221998         0    0.0
1        Title   object       212403       208    0.0
2        Price  float64         6004   2518829   84.0
3      User_id   object      1008972    561787   18.7
4  profileName   object       854145    561905   18.7
5        score  float64            5         0    0.0
6         time    int64         6272         0    0.0
7      summary   object      1592314       407    0.0
8         text   object      2062648         8    0.0

In [13]:
## Check/Remove duplicates

df2 = rm_duplicates(df2, verbose=True)

Total duplicate rows removed: 21103
Total of duplicated lines after drop: 0

In [14]:
## Checking quantity of different titles

print(f'df shape: {df2.shape} <=> total title uniques: {df2.Title.nunique()}')

df shape: (2978897, 9) <=> total title uniques: 212403

In [15]:
print('Summary: ', df2.iloc[0,-2])
print('Opinion: ', df2.iloc[0,-1])

Summary:  Nice collection of Julie Strain images
Opinion:  This is only for Julie Strain fans. It's a collection of her photos -- about 80 pages worth with a nice section of paintings by Olivia.If you're looking for heavy literary content, this isn't the place to find it -- there's only about 2 pages with text and everything else is photos.Bottom line: if you only want one book, the Six Foot One ... is probably a better choice, however, if you like Julie like I like Julie, you won't go wrong on this one either.

In [16]:
## Title identification: checking writing match

print('Matching titles (both dfs): ', len(set(df1.Title.unique()).intersection(df2.Title.unique())))
print('Divergent titles writing: ', len(set(df1.Title.unique()).difference(df2.Title.unique())))

Matching titles (both dfs):  212404
Divergent titles writing:  0

**Notes:**

- Getting:
    - Title, authors, publisher, publishedDate, categories =: features for book
    - Title, score, summary, text =: features for evaluation
- Merging Title column in df1 & df2
- Drop missing Titles
- Replace missing values in authors & categories as str(['not informed'])
- publishedDate: get only year
    - replace column name 'publishedDate' by 'publishedYear'
- Replace all others missing values by 'not informed'

##### b. Merging

In [17]:
cols = ['Title', 'authors', 'publisher', 'publishedDate', 'categories', 'score', 'summary', 'text']

df1_ = df1[[x for x in df1.columns if x in cols]]
df2_ = df2[[x for x in df2.columns if x in cols]]

df = pd.merge(df1_, df2_, on=["Title"], how='left')

del df1, df2, df1_, df2_

df.shape

(2978897, 8)

In [18]:
df.head(3)

,Title,authors,publisher,publishedDate,categories,score,summary,text
0,Its Only Art If Its Well Hung!,['Julie Strain'],NaN,1996,['Comics & Graphic Novels'],4.0,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,Dr. Seuss: American Icon,['Philip Nel'],A&C Black,2005-01-01,['Biography & Autobiography'],5.0,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,Dr. Seuss: American Icon,['Philip Nel'],A&C Black,2005-01-01,['Biography & Autobiography'],5.0,Essential for every personal and Public Library,"If people become the books they read and if ""t..."

In [19]:
## Check/Remove duplicates

df = rm_duplicates(df, verbose=True)
df.shape

Total duplicate rows removed: 357746
Total of duplicated lines after drop: 0

(2621151, 8)

In [20]:
check_columns(df, df.columns)

        Variavel     Tipo  Qtde_unicos  Qtde_NaN  %_NaN
0          Title   object       212403       207    0.0
1        authors   object       127278    350729   13.4
2      publisher   object        16016    697439   26.6
3  publishedDate   object        11582    307554   11.7
4     categories   object        10883    466691   17.8
5          score  float64            5         0    0.0
6        summary   object      1592314       326    0.0
7           text   object      2062648         8    0.0

##### c. Treating

In [21]:
## Remove missing Title

df.dropna(subset='Title', inplace=True)

## Replace missing author by 'not informed' (option 1)

df['authors'] = df.authors.fillna(value=str(['not informed']))

## Option 2:
#df = df.dropna(subset='authors')

df.shape

(2620944, 8)

In [22]:
check_columns(df, df.columns)

        Variavel     Tipo  Qtde_unicos  Qtde_NaN  %_NaN
0          Title   object       212403         0    0.0
1        authors   object       127278         0    0.0
2      publisher   object        16016    697232   26.6
3  publishedDate   object        11582    307554   11.7
4     categories   object        10883    466484   17.8
5          score  float64            5         0    0.0
6        summary   object      1592298       326    0.0
7           text   object      2062627         8    0.0

In [23]:
## Create year column based on publishedDate

mapping_date = {}
for d in df.publishedDate.unique():
    try:
        mapping_date[d] = int(pd.to_datetime(d).strftime('%Y'))
    except:
        mapping_date[d] = -1
        
df['publishedDate'] = df['publishedDate'].map(mapping_date)
df.rename(columns={'publishedDate': 'publishedYear'}, inplace=True)

## Replace missing categories by str('not informed')

df['categories'] = df.categories.fillna(value=str(['not informed']))

## Replace all others missing info by 'not informed'

df.fillna(value='not informed', inplace=True)

In [24]:
## Create recency column based on publishedYear

mapping_date = {k:int(2024-k) for k in df.publishedYear.unique() if k != -1}
mapping_date[-1] = -1

df.insert(4, 'published_recency', df['publishedYear'].map(mapping_date))
df.shape

(2620944, 9)

In [25]:
check_columns(df, df.columns)

            Variavel     Tipo  Qtde_unicos  Qtde_NaN  %_NaN
0              Title   object       212403         0    0.0
1            authors   object       127278         0    0.0
2          publisher   object        16017         0    0.0
3      publishedYear    int64          307         0    0.0
4  published_recency    int64          306         0    0.0
5         categories   object        10884         0    0.0
6              score  float64            5         0    0.0
7            summary   object      1592299         0    0.0
8               text   object      2062628         0    0.0

### 3. Saving

In [26]:
## Saving prepared file

df.to_csv('../data/df_prepared.csv', index=False)